.growPage {
    animation-name: growTopLeft;
    animation-duration: 1s;
    font-size: 20px
}

@keyframes growTopLeft {
    0%   { opacity: 0; transform: translateY(-100%) }
    100% { opacity: 1; transform: translateY(0%) }
}

img {
    max-width: 80%;
    height: auto
}