.App {
  text-align: center;
  border: 2px solid blue;
  background: black;
  color: white;
}

.lightOn {
  background: red;
  border: 2px solid blue;
  border-radius: 50%;
  font-size: 10vmin;
  text-align: center;
  width: 15vmin;
}

.lightOff {
  background: grey;
  border: 2px solid blue;
  border-radius: 50%;
  font-size: 10vmin;
  text-align: center;
  width: 15vmin;
}
